body {
	background-color: rgb(234, 234, 234) !important;
	height: 90%;
}

.ui.inverted.top.fixed.menu {
	background-image: linear-gradient(135deg,
			rgb(24, 42, 115) 0%,
			rgb(33, 138, 174) 69%,
			rgb(32, 167, 172) 89%) !important;
}

/*home page styles*/

.masthead {
	display: flex;
	align-items: center;
	background-image: linear-gradient(135deg,
			rgb(24, 42, 115) 0%,
			rgb(33, 138, 174) 69%,
			rgb(32, 167, 172) 89%) !important;
	height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

/*end home page styles*/

/* custom styles */
.aircraft {
	margin-bottom: 1.5em !important;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.item-header {
	font-size: 1.2em;
	font-weight: bold;
	display: block;
}
.item-label {
	padding: 0.3em !important;
}